// COULEURS
$bg-color: #E7EFED;
$text-color: #000;
$accent-color: #9C0124;
$complement-color: #6BB3A1;

//ROSE : #FFD7D7
//ROUGE: #FD2D01
//BLEU: #091F43 

$box-shadow : 0 0 10px -5px darken($complement-color, 15);


body {
	width: 100%;
    margin: 0;
    padding: 0;
	background: $bg-color;
	background: fixed radial-gradient(lighten($bg-color, 10) 0%, darken($bg-color, 10) 100%);
	color: $text-color;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}

#container {
	padding-bottom: 150px;
}

//HEADERS ET NAV
header {
	border-bottom: 5px solid $text-color;
}

#logo{
	width: 280px;
}

nav {
    display: flex;
    list-style: none;
    width: 80%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
    a, a:hover, a:visited, a:link {
        color: $text-color;
        text-decoration: none;
    } 
}

#signout, #signout:hover, #signout:visited, #signout:link {
	color: $accent-color;
	text-decoration: none;
}

.nav-links {
	display: grid;
	grid-template-columns: 80px 80px 80px;
	padding: 30px;
}

.nav-links .router-link-active, .nav-links .router-link-active:hover, .nav-links .router-link-active:visited, .nav-links .router-link-active:link {
	background-color: $complement-color;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
	border-radius: 50px;
	box-shadow: $box-shadow;	
}

.nav-icon {
	width: 35px;
	margin: 0 20px;
	padding: 20px 0px;
}

.welcome-links {
	text-decoration: none;
	margin: 25px;
	padding: 0 18px;
	color: $text-color;
	font-size: 1.5rem;
	font-weight: bold;
	&.router-link-exact-active, &.router-link-exact-active:hover {
		background-color: $text-color;
		color: $bg-color;
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;	
	}
}

h1 {
	text-align: center;
	margin: 90px 0;
    text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 700;
}

//FORMULAIRES
form {
	max-width: 650px;
	margin: 0 auto;
	padding: 70px 20px;
	background-color: $complement-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: $box-shadow;	
}

.welcome-form {
	padding: 50px 20px;
	input {
		width: 80%;
		max-width: none;
	}
	button {
		margin: 20px;
	}
}

.bold-text {
	font-weight: bold;
}

fieldset {
    border: none;
}

label {
	display: block;
	margin: 10px 0;
}

input {
	background-color: $bg-color;
	border-radius: 4px;
	width: 80%;
	max-width: 410px;
	height: 25px;
	margin-bottom: 35px;
	padding: 5px 10px;
	border: none;
}

textarea {
	background-color: $bg-color;
	outline: none;
	border-radius: 4px;
	width: 90%;
	height: 100px;
	border: none;
	margin-bottom: 35px;
	padding: 10px;
	width: 80%;
	max-width: 410px;
}

.alert-msg {
	font-weight: bold;
	margin: 20px 40px 40px 40px;
}

button {
	color: $bg-color;
	background-color: $text-color;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 1rem;
	margin: 40px 20px;
	cursor: pointer;
	border: none;
	transform: scale(1);
	transition: transform 200ms ease-in-out;
    &:focus {
		color: $text-color;
		background-color: darken($complement-color, 20) ;
		outline: none;
	}
	&:hover {
		transform: scale(1.05);
	}
}

#delete-user {
	background-color: $accent-color;
}

.avatar {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	margin: 10px auto 50px auto;
	box-shadow: $box-shadow;
}

input[type="file"] {
	color: rgb(83, 83, 83);
	padding: 8px 5px 5px 8px;
}

#post-upload {
	margin: 0;
}

//FIL D'ACTU
.post-comment-container {
	width: 80%;
	max-width: 1000px;
	margin: 30px auto;
}

.post {
	background-color: $complement-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: $box-shadow;
	h3 {
		font-size: 1em;
		margin-block : 0;
		margin: 0 10px;
	}
	img {
		margin: 10px;
	}
}

.post-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 40px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	color: $bg-color;
	background-color: $text-color;
	&-sender {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		&-avatar {
			border-radius: 100px;
			width: 70px;
			box-shadow: $box-shadow;

		}
	}
	&-time {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		img {
			box-shadow: none;
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}
}

.post-content {
	padding: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	&-gif{
		max-width: 450px;
	}
	&-text {
		width: 40%;
		margin: 15px;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		h2 {
			margin: 0 0 30px 0;
		}
	}
}

.post-claps {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	img {
		box-shadow: none;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
}

.comment-section {
	width: 80%;
	margin: 30px auto 100px auto;
	div.comment {
		background-color: $complement-color;
		box-shadow: $box-shadow;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 10px 20px;
		p {
			font-size: .9em;
		}
		.comment-info {
			font-weight: bold;
		}
		.comment-content {
			font-style: italic;
		}
	}
}

.new-comment {
	background-color: $complement-color;
	box-shadow: $box-shadow;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 30px auto;
	textarea {
		height: 50px;
		width: 90%;
		max-width: none;
		margin: 15px auto;
	}
}


 //MEDIA QUERIES
@media (max-width: 1200px) {
	.post-content {
		padding: 20px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		&-text {
			width: 80%;
			text-align: center;
			align-items: center;
		}
		&-gif {
			width: 90%;
			max-width: 350px;
		}
	}
	.post-claps {
		justify-content: center;
	}
}

@media (max-width: 800px) {
    main {
		padding: 15px;
    }
	nav {
		display: block;
		ul {
		display: block;
		padding-left: 0;
		}
		img#logo {
			margin-top: 50px;
		}
	}
	.nav-links {
        justify-content: center;
        margin-top: 25px;
	}
	.post-info {
		display: block;
		&-time {
			margin-top: 20px;
			display: block;
		}
	}
}

@media (max-width: 500px) {
	#logo {
		width: 200px;
		margin-top: 50px;
	}
	h1, p, label, input#email, input#password, button {
		font-size: 0.9em;
	}
	nav {
		a.welcome-links {
			font-size: 1em;
			padding: 0;
			font-weight: normal;
			display: block;
			margin-top: 0;
			&.router-link-exact-active, &.router-link-exact-active:hover {
				background-color: $bg-color;
				color: darken($complement-color, 20);
				font-weight: bold;
			}
		}
	}
	.post {
		h2, h3 {
			font-size: .9em;
		}
	}
}