// COULEURS
// $bg-color: #E7EFED;
// $text-color: #000;
// $accent-color: #9C0124;
// $complement-color: #6BB3A1;

$bg-color: #091F43;
$text-color: #fff;
$accent-color: #FD2D01;
$fade-color: #525252;
$light-bg-color: #c4c4c4;
$complement-color: #FFD7D7;
$box-color: #fff;

//ROSE : #FFD7D7
//ROUGE: #FD2D01
//BLEU: #091F43 

$box-shadow : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
	width: 100%;
    margin: 0;
    padding: 0;
	color: $bg-color;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	background: radial-gradient($bg-color, darken($bg-color, 10));
	background-attachment: fixed;
	

}

#container {
	padding-bottom: 100px;
}

//HEADERS ET NAV
header {
	border-bottom: 4px solid $accent-color;
}

#logo{
	width: 280px;
}

nav {
    display: flex;
    list-style: none;
    width: 80%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
    a, a:hover, a:visited, a:link {
        color: $text-color;
        text-decoration: none;
    } 
}

#signout, #signout:hover, #signout:visited, #signout:link {
	color: $fade-color;
	text-decoration: none;
}

.nav-links {
	display: grid;
	grid-template-columns: 80px 80px 80px;
	padding: 30px;
}

.nav-links .router-link-active, .nav-links .router-link-active:hover, .nav-links .router-link-active:visited, .nav-links .router-link-active:link {
	background-color: $accent-color;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
	border-radius: 50px;
	box-shadow: $box-shadow;	
}

.nav-icon {
	width: 35px;
	margin: 0 20px;
	padding: 18px 0px;
}

.welcome-links {
	text-decoration: none;
	margin: 25px;
	padding: 0 18px;
	color: $text-color;
	font-size: 1.5rem;
	font-weight: bold;
	&.router-link-exact-active, &.router-link-exact-active:hover {
		background-color: $text-color;
		color: $bg-color;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;	
	}
}

h1 {
	text-align: center;
	color: $text-color;
	margin: 90px 0;
	font-size: 2em;
	font-weight: 700;
}

//FORMULAIRES
form {
	max-width: 650px;
	margin: 0 auto;
	padding: 70px 20px;
	background-color: $text-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: $box-shadow;	
}

.welcome-form {
	padding: 50px 20px;
	input {
		width: 80%;
		max-width: none;
	}
	button {
		margin: 20px;
	}
}

.bold-text {
	font-weight: bold;
}

fieldset {
	border: none;
	width: 80%;
	max-width: 410px;
	margin: auto;
	height: auto;
}

label {
	display: block;
	margin: 10px 0;
	text-align: left;
	transition: color 200ms ease-in-out;
	color: $bg-color;
}

input {
	background-color: transparent;
	height: 25px;
	margin-bottom: 25px;
	padding: 5px;
	border: 0;
	outline: 0;
	border-bottom: 2px solid $bg-color;
	width: 100%;
	&:focus {
		border-bottom: 2px solid $accent-color;
	}
}

textarea {
	background-color: $light-bg-color;
	outline: none;
	border-radius: 5px;
	width: 100%;
	height: 100px;
	border: none;
	margin-bottom: 10px;
	padding: 10px;
}

.alert-msg {
	font-weight: bold;
	margin: 20px 40px 40px 40px;
}

button {
	color: $text-color;
	background-color: $bg-color;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: .9rem;
	margin: 50px 20px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 200ms ease-in-out;
	&:hover {
		background-color: $accent-color;
	}
}

#delete-user {
	background-color: $fade-color;
	transition: background-color 200ms ease-in-out;
	&:hover {
		background-color: $accent-color;
	}
}

.avatar {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	margin: 10px auto 50px auto;
	box-shadow: $box-shadow;
}

input[type="file"] {
	color:$fade-color;
	padding: 5px;
}

#post-upload {
	margin: 0;
	font-size: 1rem;
}

//FIL D'ACTU
#forum-title {
    margin-bottom: 90px;
}

#forum-title ~ p {
	margin-bottom: 0;
	font-weight: bold;
	color: $text-color;
}

.toggle-button {
	margin-top: 0;
	background-color: $text-color;
	color: $bg-color;
	border: 1px solid $bg-color;
	transition: all ease-in-out 200ms;
	&:hover {
		color: $accent-color;
		border: 1px solid $accent-color;
		background-color: $text-color;
	}
}

.post-comment-container {
	width: 80%;
	max-width: 1000px;
	margin: 30px auto;
}

.orderby-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	height: 45px;
	padding: 0 auto;
	width: 80%;
	max-width: 1000px;
	margin: auto;
	background-color: darken($bg-color, 10);
	border: solid $text-color 1px;
	box-shadow: $box-shadow;
	color: $text-color;
	font-weight: bold;
	&:hover {
		background-color: darken($bg-color, 5);
	}
	img {
		margin-left: 20px;
		&.flipped {
			transform: rotate(180deg);
		}
	}
}

.post {
	background-color: $box-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: $box-shadow;
	margin-top: 80px;
	h3 {
		font-size: 1em;
		margin: 0 10px;
	}
	img {
		margin: 10px;
	}
}

.post-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 8px 20px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	color: $text-color;
	background-color: darken($bg-color, 10);
	border: 1px solid $text-color;
	&-sender {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		&-avatar {
			border-radius: 100px;
			width: 60px;
		}
	}
	&-time {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		img {
			box-shadow: none;
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}
}

.post-content {
	padding: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	&-gif{
		max-width: 400px;
	}
	&-text {
		width: 40%;
		margin: 15px;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		color: $bg-color;
		h2 {
			margin: 0 0 30px 0;
		}
	}
}

.post-claps {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	img {
		box-shadow: none;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
}

.comment-section {
	width: 80%;
	margin: 30px auto 100px auto;
	div.comment {
		background-color: $text-color;
		box-shadow: $box-shadow;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 10px 20px;
		margin-bottom: 30px;
		p {
			font-size: .9em;
		}
		.comment-info {
			font-weight: bold;
		}
	}
}

.new-comment {
	background-color: $text-color;
	box-shadow: $box-shadow;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 30px auto;
	max-width: none;
	textarea {
		height: 50px;
		width: 90%;
		margin: 15px auto;
		background-color: $light-bg-color;
		box-shadow: none;
	}
	button {
		width: 97%;
		max-width: none;
		margin: 0 auto 20px auto;
	}
}

 //MEDIA QUERIES
@media (max-width: 1200px) {
	.post-content {
		padding: 20px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		&-text {
			width: 80%;
			text-align: center;
			align-items: center;
		}
		&-gif {
			padding-top: 30px;
			width: 90%;
			max-width: 350px;
		}
	}
	.post-claps {
		justify-content: center;
	}
}

@media (max-width: 800px) {
    main {
		padding: 15px;
	}
	#container {
		padding-bottom: 0;
	}
	nav {
		display: block;
		ul {
		display: block;
		padding-left: 0;
		}
		img#logo {
			margin-top: 50px;
		}
	}
	.nav-links {
        justify-content: center;
        margin-top: 25px;
	}
	.post-info {
		display: block;
		&-time {
			margin-top: 20px;
			display: block;
		}
	}
	.new-comment {
		textarea {
			width: 80%;
		}
		button {
			width: 80%;
		}
	}
}

@media (max-width: 500px) {
	#logo {
		width: 200px;
		margin-top: 50px;
	}
	h1, p, label, input#email, input#password, button {
		font-size: 0.9em;
	}
	nav {
		a.welcome-links {
			font-size: 1em;
			padding: 0;
			font-weight: normal;
			display: block;
			margin-top: 0;
			&.router-link-exact-active, &.router-link-exact-active:hover {
				background-color: $bg-color;
				color: darken($complement-color, 20);
				font-weight: bold;
			}
		}
	}
	label, input {
		text-align: center;
	}
	button#delete-user {
		margin: 0;
	}
	.post {
		h2, h3 {
			font-size: .9em;
		}
	}
	.new-comment {
		textarea {
			width: 70%;
		}
		button {
			width: 100%;
		}
	}
	.orderby-button {
		height: 60px;
	}
}