// VARIABLES
$bg-color: #091f43;
$text-color: #fff;
$accent-color: #fd2d01;
$fade-color: #525252;
$light-bg-color: #cccccc;
$complement-color: #ffd7d7;
$box-color: #fff;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  background-attachment: fixed;
  background-image: url(../assets/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding-bottom: 100px;
  background: rgba($bg-color, 0.8);
  width: 100%;
  height: 100%;
  min-height: 1000px;
}

.full-height {
  height: 100%;
}

//HEADERS ET NAV
header {
  border-bottom: 4px solid $accent-color;
  background-color: $bg-color;
  position: absolute;
  top: 0;
  width: 100%;
}

#logo-welcome {
  display: block;
  margin: 60px auto;
}

nav {
  display: flex;
  list-style: none;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  a,
  a:hover,
  a:visited,
  a:link {
    color: $text-color;
    text-decoration: none;
  }
}

#signout,
#signout:hover,
#signout:visited,
#signout:link {
  color: $fade-color;
  text-decoration: none;
}

.nav-links {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  padding: 30px;
}

.nav-links .router-link-active,
.nav-links .router-link-active:hover,
.nav-links .router-link-active:visited,
.nav-links .router-link-active:link {
  background-color: $accent-color;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  box-shadow: $box-shadow;
}

.nav-icon {
  width: 35px;
  margin: 0 20px;
  padding: 19px 0px;
}

.welcome-nav {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 0;
}

.welcome-links {
  text-decoration: none;
  margin: 25px;
  padding: 0 20px;
  color: $text-color;
  font-size: 1.5rem;
  font-weight: bold;
  &.router-link-exact-active,
  &.router-link-exact-active:hover {
    background-color: $accent-color;
    color: $text-color;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

h1 {
  text-align: center;
  color: $text-color;
  margin: 90px 30px;
  font-size: 2em;
  font-weight: 700;
  padding-top: 200px;
}

h2 {
  font-weight: bold;
  padding-top: 10px;
}

//FORMULAIRES
form {
  max-width: 650px;
  margin: 0 auto;
  padding: 50px 20px 70px 20px;
  background-color: $text-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: $box-shadow;
  label,
  input {
    text-align: center;
  }
}

.welcome-form {
  padding: 50px 20px;
  input {
    max-width: none;
  }
  button {
    margin: 20px;
  }
}

.bold-text {
  font-weight: bold;
}

fieldset {
  border: none;
  width: 80%;
  max-width: 410px;
  margin: 20px auto;
}

label {
  display: block;
  margin: 10px 0;
  text-align: left;
  transition: color 200ms ease-in-out;
  color: $bg-color;
}

input {
  background-color: transparent;
  height: 25px;
  padding: 5px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid $bg-color;
  width: 95%;
  &:focus {
    border-bottom: 2px solid $accent-color;
  }
}

textarea {
  background-color: $light-bg-color;
  outline: none;
  border-radius: 5px;
  width: 95%;
  height: 100px;
  border: none;
  margin: 10px 0;
  padding: 10px;
}

.alert-msg {
  font-weight: bold;
  margin: 20px 40px 40px 40px;
  padding-top: 20px;
  color: $accent-color;
}

button {
  color: $text-color;
  background-color: $bg-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.9rem;
  margin: 50px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: $accent-color;
  }
}

#delete-user {
  background-color: $fade-color;
  transition: background-color 200ms ease-in-out;
  &:hover {
    background-color: $accent-color;
  }
}

.avatar {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  margin: 10px auto 25px auto;
  box-shadow: $box-shadow;
}

label[for="new-avatar-url"] {
  font-weight: bold;
  margin: 0 auto 30px auto;
}

input[type="file"] {
  display: none;
}

#post-upload {
  margin: 0;
  font-size: 1rem;
}

//FIL D'ACTU
#forum-title {
  margin-bottom: 90px;
}

#forum-title ~ p {
  margin-bottom: 0;
  font-weight: bold;
  color: $text-color;
}

.toggle-button {
  margin-top: 0;
  background-color: $box-color;
  color: $bg-color;
  border: 1px solid $bg-color;
  transition: all ease-in-out 200ms;
  &:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
    background-color: $box-color;
  }
}

.post-comment-container {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}

.orderby-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 45px;
  padding: 0 auto;
  max-width: 1000px;
  margin: auto;
  background-color: $bg-color;
  border: solid $text-color 1px;
  box-shadow: $box-shadow;
  color: $text-color;
  font-weight: bold;
  &:hover {
    background-color: $bg-color;
  }
  img {
    margin-left: 20px;
    &.flipped {
      transform: rotate(180deg);
    }
  }
}

.post {
  background-color: $text-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: $box-shadow;
  border: 1px solid $text-color;
  margin-top: 80px;
  h3 {
    font-size: 1em;
    margin: 0 10px;
  }
  img {
    margin: 10px;
  }
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 20px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  color: $text-color;
  background-color: $bg-color;
  &-sender {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-avatar {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      width: 60px;
    }
  }
  &-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      box-shadow: none;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.post-content {
  padding: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url(../assets/post-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 70%;
  &-gif {
    max-width: 400px;
    width: 100%;
  }
  &-text {
    width: 40%;
    margin: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: $bg-color;
    h2 {
      margin: 0 0 30px 0;
    }
  }
}

.post-claps {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  img {
    box-shadow: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  p {
    color: $accent-color;
  }
}

.comment-section {
  width: 80%;
  margin: 30px auto 100px auto;
  div.comment {
    background-color: $box-color;
    color: $bg-color;
    box-shadow: $box-shadow;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 30px;
    p {
      font-size: 0.9em;
    }
    .comment-info {
      font-weight: bold;
      position: relative;
      img {
        width: 20px;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 0;
      }
    }
  }
}

.new-comment {
  box-shadow: $box-shadow;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 30px auto;
  max-width: none;
  textarea {
    height: 50px;
    width: 90%;
    margin: 15px auto;
    box-shadow: none;
  }
  button {
    width: 97%;
    max-width: none;
    margin: 0 auto 20px auto;
  }
}

//MEDIA QUERIES
@media (max-width: 1200px) {
  .post-content {
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: 80%;
    &-text {
      width: 80%;
      text-align: center;
      align-items: center;
    }
    &-gif {
      padding-top: 30px;
      width: 90%;
      max-width: 350px;
    }
  }
  .post-claps {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  main {
    padding: 15px;
  }
  .container {
    padding-bottom: 0;
    background: rgba($bg-color, 0.8);
  }
  nav {
    display: block;
    ul {
      display: block;
      padding-left: 0;
    }
    img#logo {
      margin-top: 50px;
    }
  }
  h1 {
    padding-top: 320px;
  }
  .welcome-container h1 {
    padding-top: 220px;
  }
  .welcome-links {
    padding: 0 8px;
  }
  .nav-links {
    justify-content: center;
    margin-top: 25px;
  }
  .post-info {
    display: block;
    &-time {
      margin-top: 20px;
      display: block;
    }
  }
  .new-comment {
    textarea {
      width: 80%;
    }
    button {
      width: 80%;
    }
  }
}

@media (max-width: 500px) {
  body {
    background-image: none;
  }
  .container {
    background: $bg-color;
    padding-bottom: 1px;
  }
  #logo {
    width: 200px;
    margin-top: 50px;
  }
  #logo-welcome {
    width: 200px;
  }
  h1.welcome-title {
    margin-bottom: 50px;
  }
  .welcome-container h1 {
    padding-top: 240px;
    margin-bottom: 60px;
  }

  body {
    width: auto;
  }
  h1,
  p,
  label,
  input,
  input,
  button {
    font-size: 0.9em;
  }
  nav {
    a.welcome-links {
      font-size: 1em;
      padding: 0;
      font-weight: normal;
      display: block;
      margin-top: 0;
      &.router-link-exact-active,
      &.router-link-exact-active:hover {
        background-color: $bg-color;
        color: $accent-color;
        font-weight: bold;
      }
    }
  }
  label,
  input,
  textarea {
    text-align: center;
    width: 95%;
  }
  form {
    padding: 10px;
  }
  fieldset {
    width: 90%;
  }
  button#delete-user {
    margin: 0;
  }
  .post {
    h2,
    h3 {
      font-size: 0.9em;
    }
  }
  .post-info-time {
    flex-direction: column;
  }
  .new-comment {
    textarea {
      width: 70%;
    }
    button {
      width: 100%;
    }
  }
  .orderby-button {
    height: auto;
    width: auto;
    flex-direction: column;
    img {
      margin: 5px 0 0 0;
    }
  }
}
