@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #FD2D01;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background: #fff;
}

#container {
  padding-bottom: 100px;
}

header {
  border-bottom: 5px solid #FD2D01;
}

#logo {
  width: 280px;
}

nav {
  display: flex;
  list-style: none;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
nav a, nav a:hover, nav a:visited, nav a:link {
  color: #FD2D01;
  text-decoration: none;
}

#signout, #signout:hover, #signout:visited, #signout:link {
  color: #525252;
  text-decoration: none;
}

.nav-links {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  padding: 30px;
}

.nav-links .router-link-active, .nav-links .router-link-active:hover, .nav-links .router-link-active:visited, .nav-links .router-link-active:link {
  background-color: #FFD7D7;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 0 7px 7px -7px #FD2D01;
}

.nav-icon {
  width: 35px;
  margin: 0 20px;
  padding: 18px 0px;
}

.welcome-links {
  text-decoration: none;
  margin: 25px;
  padding: 0 18px;
  color: #FD2D01;
  font-size: 1.5rem;
  font-weight: bold;
}
.welcome-links.router-link-exact-active, .welcome-links.router-link-exact-active:hover {
  background-color: #FD2D01;
  color: #FFEDED;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h1 {
  text-align: center;
  margin: 90px 0;
  font-size: 2em;
  font-weight: 700;
}

form {
  max-width: 650px;
  margin: 0 auto;
  padding: 70px 20px;
  background-color: #FFD7D7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 7px 7px -7px #FD2D01;
}

.welcome-form {
  padding: 50px 20px;
}
.welcome-form input {
  width: 80%;
  max-width: none;
}
.welcome-form button {
  margin: 20px;
}

.bold-text {
  font-weight: bold;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  background-color: #FFEDED;
  border-radius: 5px;
  width: 80%;
  max-width: 410px;
  height: 25px;
  margin-bottom: 35px;
  padding: 5px 10px;
  border: none;
  outline: none;
}

textarea {
  background-color: #FFEDED;
  outline: none;
  border-radius: 5px;
  width: 90%;
  height: 100px;
  border: none;
  margin-bottom: 35px;
  padding: 10px;
  width: 80%;
  max-width: 410px;
}

.alert-msg {
  font-weight: bold;
  margin: 20px 40px 40px 40px;
}

button {
  color: #fff;
  background-color: #FD2D01;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.9rem;
  margin: 40px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 200ms ease-in-out;
}
button:hover {
  background-color: #ffbebe;
}

#delete-user {
  background-color: #525252;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin: 10px auto 50px auto;
  box-shadow: 0 7px 7px -7px #FD2D01;
}

input[type=file] {
  color: #525252;
  padding: 8px 5px 5px 8px;
}

#post-upload {
  margin: 0;
  font-size: 1rem;
}

#forum-title {
  margin-bottom: 90px;
}

#forum-title ~ p {
  margin-bottom: 0;
  font-weight: bold;
}

.toggle-button {
  margin-top: 0;
  background-color: #FFD7D7;
  color: #FD2D01;
  border: 1px solid #FD2D01;
}

.post-comment-container {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}

.orderby-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 0 20px;
  margin: 0 auto 90px auto;
  background-color: #FFD7D7;
  box-shadow: 0 7px 7px -7px #FD2D01;
  color: #FD2D01;
}
.orderby-button img {
  margin-left: 20px;
}
.orderby-button img.flipped {
  transform: rotate(180deg);
}

.post {
  background-color: #FFD7D7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 7px 7px -7px #FD2D01;
  margin-top: 80px;
}
.post h3 {
  font-size: 1em;
  margin-block: 0;
  margin: 0 10px;
}
.post img {
  margin: 10px;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 40px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  color: #FFEDED;
  background-color: #FD2D01;
}
.post-info-sender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.post-info-sender-avatar {
  border-radius: 100px;
  width: 70px;
  box-shadow: 0 7px 7px -7px #FD2D01;
}
.post-info-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.post-info-time img {
  box-shadow: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.post-content {
  padding: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.post-content-gif {
  max-width: 400px;
}
.post-content-text {
  width: 40%;
  margin: 15px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: #FD2D01;
}
.post-content-text h2 {
  margin: 0 0 30px 0;
}

.post-claps {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.post-claps img {
  box-shadow: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.comment-section {
  width: 80%;
  margin: 30px auto 100px auto;
}
.comment-section div.comment {
  background-color: #FFD7D7;
  box-shadow: 0 7px 7px -7px #FD2D01;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.comment-section div.comment p {
  font-size: 0.9em;
}
.comment-section div.comment .comment-info {
  font-weight: bold;
}

.new-comment {
  background-color: #FFD7D7;
  box-shadow: 0 7px 7px -7px #FD2D01;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 30px auto;
  max-width: none;
}
.new-comment textarea {
  height: 50px;
  width: 90%;
  margin: 15px auto;
  background-color: #FFEDED;
  box-shadow: none;
}
.new-comment button {
  width: 97%;
  max-width: none;
  margin: 0 auto 20px auto;
  transition: background-color 200ms ease-in-out;
}
.new-comment button:hover {
  background-color: #ff8b8b;
}

@media (max-width: 1200px) {
  .post-content {
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .post-content-text {
    width: 80%;
    text-align: center;
    align-items: center;
  }
  .post-content-gif {
    padding-top: 30px;
    width: 90%;
    max-width: 350px;
  }

  .post-claps {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  main {
    padding: 15px;
  }

  #container {
    padding-bottom: 0;
  }

  nav {
    display: block;
  }
  nav ul {
    display: block;
    padding-left: 0;
  }
  nav img#logo {
    margin-top: 50px;
  }

  .nav-links {
    justify-content: center;
    margin-top: 25px;
  }

  .post-info {
    display: block;
  }
  .post-info-time {
    margin-top: 20px;
    display: block;
  }

  .new-comment textarea {
    width: 80%;
  }
  .new-comment button {
    width: 80%;
  }
}
@media (max-width: 500px) {
  #logo {
    width: 200px;
    margin-top: 50px;
  }

  h1, p, label, input#email, input#password, button {
    font-size: 0.9em;
  }

  nav a.welcome-links {
    font-size: 1em;
    padding: 0;
    font-weight: normal;
    display: block;
    margin-top: 0;
  }
  nav a.welcome-links.router-link-exact-active, nav a.welcome-links.router-link-exact-active:hover {
    background-color: #FFEDED;
    color: #ff7171;
    font-weight: bold;
  }

  .post h2, .post h3 {
    font-size: 0.9em;
  }

  .new-comment textarea {
    width: 70%;
  }
  .new-comment button {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
