@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  background-attachment: fixed;
  background-image: url(../assets/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding-bottom: 100px;
  background: rgba(9, 31, 67, 0.8);
  width: 100%;
  height: 100%;
  min-height: 1000px;
}

.full-height {
  height: 100%;
}

header {
  border-bottom: 4px solid #fd2d01;
  background-color: #091f43;
  position: absolute;
  top: 0;
  width: 100%;
}

#logo-welcome {
  display: block;
  margin: 60px auto;
}

nav {
  display: flex;
  list-style: none;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
nav a,
nav a:hover,
nav a:visited,
nav a:link {
  color: #fff;
  text-decoration: none;
}

#signout,
#signout:hover,
#signout:visited,
#signout:link {
  color: #525252;
  text-decoration: none;
}

.nav-links {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  padding: 30px;
}

.nav-links .router-link-active,
.nav-links .router-link-active:hover,
.nav-links .router-link-active:visited,
.nav-links .router-link-active:link {
  background-color: #fd2d01;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.nav-icon {
  width: 35px;
  margin: 0 20px;
  padding: 19px 0px;
}

.welcome-nav {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 0;
}

.welcome-links {
  text-decoration: none;
  margin: 25px;
  padding: 0 20px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.welcome-links.router-link-exact-active, .welcome-links.router-link-exact-active:hover {
  background-color: #fd2d01;
  color: #fff;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 90px 30px;
  font-size: 2em;
  font-weight: 700;
  padding-top: 200px;
}

h2 {
  font-weight: bold;
  padding-top: 10px;
}

form {
  max-width: 650px;
  margin: 0 auto;
  padding: 50px 20px 70px 20px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
form label,
form input {
  text-align: center;
}

.welcome-form {
  padding: 50px 20px;
}
.welcome-form input {
  max-width: none;
}
.welcome-form button {
  margin: 20px;
}

.bold-text {
  font-weight: bold;
}

fieldset {
  border: none;
  width: 80%;
  max-width: 410px;
  margin: 20px auto;
}

label {
  display: block;
  margin: 10px 0;
  text-align: left;
  transition: color 200ms ease-in-out;
  color: #091f43;
}

input {
  background-color: transparent;
  height: 25px;
  padding: 5px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #091f43;
  width: 95%;
}
input:focus {
  border-bottom: 2px solid #fd2d01;
}

textarea {
  background-color: #cccccc;
  outline: none;
  border-radius: 5px;
  width: 95%;
  height: 100px;
  border: none;
  margin: 10px 0;
  padding: 10px;
}

.alert-msg {
  font-weight: bold;
  margin: 20px 40px 40px 40px;
  padding-top: 20px;
  color: #fd2d01;
}

button {
  color: #fff;
  background-color: #091f43;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.9rem;
  margin: 50px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: #fd2d01;
}

#delete-user {
  background-color: #525252;
  transition: background-color 200ms ease-in-out;
}
#delete-user:hover {
  background-color: #fd2d01;
}

.avatar {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  margin: 10px auto 25px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

label[for=new-avatar-url] {
  font-weight: bold;
  margin: 0 auto 30px auto;
}

input[type=file] {
  display: none;
}

#post-upload {
  margin: 0;
  font-size: 1rem;
}

#forum-title {
  margin-bottom: 90px;
}

#forum-title ~ p {
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
}

.toggle-button {
  margin-top: 0;
  background-color: #fff;
  color: #091f43;
  border: 1px solid #091f43;
  transition: all ease-in-out 200ms;
}
.toggle-button:hover {
  color: #fd2d01;
  border: 1px solid #fd2d01;
  background-color: #fff;
}

.post-comment-container {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}

.orderby-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 45px;
  padding: 0 auto;
  max-width: 1000px;
  margin: auto;
  background-color: #091f43;
  border: solid #fff 1px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  font-weight: bold;
}
.orderby-button:hover {
  background-color: #091f43;
}
.orderby-button img {
  margin-left: 20px;
}
.orderby-button img.flipped {
  transform: rotate(180deg);
}

.post {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid #fff;
  margin-top: 80px;
}
.post h3 {
  font-size: 1em;
  margin: 0 10px;
}
.post img {
  margin: 10px;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 20px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  background-color: #091f43;
}
.post-info-sender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.post-info-sender-avatar {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 60px;
}
.post-info-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.post-info-time img {
  box-shadow: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.post-content {
  padding: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url(../assets/post-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 70%;
}
.post-content-gif {
  max-width: 400px;
  width: 100%;
}
.post-content-text {
  width: 40%;
  margin: 15px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: #091f43;
}
.post-content-text h2 {
  margin: 0 0 30px 0;
}

.post-claps {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.post-claps img {
  box-shadow: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.post-claps p {
  color: #fd2d01;
}

.comment-section {
  width: 80%;
  margin: 30px auto 100px auto;
}
.comment-section div.comment {
  background-color: #fff;
  color: #091f43;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.comment-section div.comment p {
  font-size: 0.9em;
}
.comment-section div.comment .comment-info {
  font-weight: bold;
  position: relative;
}
.comment-section div.comment .comment-info img {
  width: 20px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
}

.new-comment {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 30px auto;
  max-width: none;
}
.new-comment textarea {
  height: 50px;
  width: 90%;
  margin: 15px auto;
  box-shadow: none;
}
.new-comment button {
  width: 97%;
  max-width: none;
  margin: 0 auto 20px auto;
}

@media (max-width: 1200px) {
  .post-content {
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: 80%;
  }
  .post-content-text {
    width: 80%;
    text-align: center;
    align-items: center;
  }
  .post-content-gif {
    padding-top: 30px;
    width: 90%;
    max-width: 350px;
  }

  .post-claps {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  main {
    padding: 15px;
  }

  .container {
    padding-bottom: 0;
    background: rgba(9, 31, 67, 0.8);
  }

  nav {
    display: block;
  }
  nav ul {
    display: block;
    padding-left: 0;
  }
  nav img#logo {
    margin-top: 50px;
  }

  h1 {
    padding-top: 320px;
  }

  .welcome-container h1 {
    padding-top: 220px;
  }

  .welcome-links {
    padding: 0 8px;
  }

  .nav-links {
    justify-content: center;
    margin-top: 25px;
  }

  .post-info {
    display: block;
  }
  .post-info-time {
    margin-top: 20px;
    display: block;
  }

  .new-comment textarea {
    width: 80%;
  }
  .new-comment button {
    width: 80%;
  }
}
@media (max-width: 500px) {
  body {
    background-image: none;
  }

  .container {
    background: #091f43;
    padding-bottom: 1px;
  }

  #logo {
    width: 200px;
    margin-top: 50px;
  }

  #logo-welcome {
    width: 200px;
  }

  h1.welcome-title {
    margin-bottom: 50px;
  }

  .welcome-container h1 {
    padding-top: 240px;
    margin-bottom: 60px;
  }

  body {
    width: auto;
  }

  h1,
p,
label,
input,
input,
button {
    font-size: 0.9em;
  }

  nav a.welcome-links {
    font-size: 1em;
    padding: 0;
    font-weight: normal;
    display: block;
    margin-top: 0;
  }
  nav a.welcome-links.router-link-exact-active, nav a.welcome-links.router-link-exact-active:hover {
    background-color: #091f43;
    color: #fd2d01;
    font-weight: bold;
  }

  label,
input,
textarea {
    text-align: center;
    width: 95%;
  }

  form {
    padding: 10px;
  }

  fieldset {
    width: 90%;
  }

  button#delete-user {
    margin: 0;
  }

  .post h2,
.post h3 {
    font-size: 0.9em;
  }

  .post-info-time {
    flex-direction: column;
  }

  .new-comment textarea {
    width: 70%;
  }
  .new-comment button {
    width: 100%;
  }

  .orderby-button {
    height: auto;
    width: auto;
    flex-direction: column;
  }
  .orderby-button img {
    margin: 5px 0 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
